@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @*<form id="formLoginAJAX" asp-controller="Account" asp-action="LoginAjax" asp-route-returnurl="@Model.ReturnUrl" method="post">
        </form>*@
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    <script>

        /*$("#loginLink").click(function)
        {
            $, ajax({
                url: "Account/Login?Username=" + username + "&pass=" + pass,
                success: function (result) {
                    if (result == "Authenticated") {
                        $("#yourID").submit();
                    }
                    else {
                        alert("Login Failed");
                    }
                }
            })
        }*/
    </script>
}
